.header {
  width: 100%;
  padding-top: 4%;
  padding-bottom: 2%;
  background-color: #e57d4c;
  color: white;
  text-align: center;
}

.display-board {
  width: 100%;
  background-color: #e57d4c;
  padding: 5%;
}

.error {
  width: 100%;
  padding: 2%;
  background-color: #9d2a2a;
  color: white;
  text-align: center;
}

.number {
  color: red;
  font-size: 75px;
  text-align: center;
}

.mrgnbtm {
  margin-top: 20px;
}

.App { padding-top: 70px; }
